USE [master]
GO
/****** Object:  Database [Test]    Script Date: 2/23/2022 12:52:31 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[UserSystem]    Script Date: 2/23/2022 12:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSystem](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[fullname] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserSystem] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserSystem] ([username], [password], [fullname]) VALUES (N'admin', N'admin', N'Đoàn Quang Huy')
INSERT [dbo].[UserSystem] ([username], [password], [fullname]) VALUES (N'duatsen', N'duatcute', N'Trần Nhật Duật')
INSERT [dbo].[UserSystem] ([username], [password], [fullname]) VALUES (N'thanhmap123', N'thanhcute', N'Vũ Quang Thanh')
GO
/****** Object:  StoredProcedure [dbo].[UserSystem_CheckLogin]    Script Date: 2/23/2022 12:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[UserSystem_CheckLogin]
@username varchar(50),
@pass varchar(50)
As
SELECT [username]
      ,[password]
      ,[fullname]
  FROM [dbo].[UserSystem]
  Where username = @username
  and password = @pass

GO
USE [master]
GO
